
@{
	ViewBag.Title = "Início";
}
<br />
<br />
<h2>Olá Visitante</h2>
<br />
Aplicativo para fazer reservas de utilização do Salão de Festas.
<br />
<br />
Para efetuar reserva <a href="/Agenda/Index">CLIQUE AQUI</a>