
@{
    ViewBag.Title = "Sobre";
}

<h2>Sobre o Aplicativo</h2>
<br />
<h4>Aprendizado de ASP.NET 4.7, MVC 5, Entity Framework 6 com SQL Server na plataforma .NET Framework 4</h4>
<br />
<h4>Autor: Jorge Manuel - Atualmente Developer Oracle (Forms 6i/10g, Reports 6i/10g, PL/SQL, SQL, Oracle)</h4>

