
@{
    ViewBag.Title = "Início";
}
<br />
<br />
<h2>Olá Visitante</h2>
<br />
Este é o aplicativo para fazer reservas de utilização do Salão de Festas.
<br />
Solicitamos que leiam os termos de responsabilidade.
<br />
<br />
Para efetuar reserva <a href="/Agenda/Index">CLIQUE AQUI</a><br />

