<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://reservarsalaofestas.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>publish.gear.host</MSDeployServiceURL>
    <DeployIisAppPath>reservarsalaofestas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$reservarsalaofestas</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SlFestasDb" Order="1" Enabled="True">
          <Destination Path="Data Source=den1.mssql2.gear.host;Initial Catalog=slfestasdb;Persist Security Info=True;User ID=slfestasdb;Password=Xk7AK~Bd-cCq" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ReservarSalaoFestas.Models.ApplicationDbContext, ReservarSalaoFestas" MigrationConfiguration="ReservarSalaoFestas.Migrations.Configuration, ReservarSalaoFestas" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SlFestasDb-Web.config Connection String">
      <ParameterValue>Data Source=den1.mssql2.gear.host;Initial Catalog=slfestasdb;Persist Security Info=True;User ID=slfestasdb;Password=Xk7AK~Bd-cCq</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>