
@{
    ViewBag.Title = "Sobre";
}

<h2>Sobre o Aplicativo</h2>
<br />
<br />
<h4>Aprendizado de ASP.NET, MVC5, Entity no SQL Server Express na plataforma .NET 4.6.1</h4><br />
<br />
<h4>Autor: Jorge Manuel - Atualmente Developer Oracle (Forms-6i/10g, Reports-6i/10g, PL/SQL, SQL, Oracle)</h4><br />

